In [4]:
import os
import pandas as pd
import numpy as np
from pydbmanager.connection import DatabaseConnection
from pydbmanager.operations import DatabaseOperations
from dotenv import load_dotenv

In [2]:
# Load environment variables
load_dotenv()

# Initialize and test database connection
db = DatabaseConnection()
conn = db.create_connection()

if conn:
    print("\u2705 Connection Successful!")
    db.close_connection()
else:
    print("\u274c Connection Failed!")

2025-05-09 12:15:32,456 - INFO - Database connection established successfully.
2025-05-09 12:15:32,456 - INFO - Database connection closed

âœ… Connection Successful!

In [5]:
db_ops = DatabaseOperations()

# Fetch all users
df = db_ops.query_data("SELECT top 10 * FROM patient_info", batch_size=5)
df.head()

2025-05-09 12:16:57,581 - INFO - Database connection established successfully.

2025-05-09 12:16:57,710 - INFO - Query executed in 0.1119 seconds

,patient_id,first_name,last_name,date_of_birth,gender,patient_type,external_id,patient_sub_type
0,5c96ba1a-8b2d-49bc-8e8e-b07761948286,Robin,Lopez,1973-05-23,female,caregiver,NULL,NULL
1,eda39327-b38f-41de-a46a-8782787369b7,Justin,Macks,1991-07-10,male,caregiver,NULL,NULL
2,6a7f7ce9-f63e-4651-b941-a25ce116de74,sandra,kinstle,1955-02-15,female,caregiver,NULL,NULL
3,096d402a-5fcd-41dd-b59b-b3089cf06742,Jing,Gu,1971-12-24,male,Stroke,NULL,PreviousStrokeUser
4,1715cc3c-bea6-4d7e-aad3-b2f96338ba60,Bootsie,Brenner,1958-01-28,female,Stroke,NULL,PreviousStrokeUser